footer.border-t-2.bg-gray-500.text-gray-200.py-12
    .container.mx-auto.grid.grid-cols-3
        p.text-2xl.font-bold Paperworks
        div
            p.text-xl
            p.text-xl 사업자 등록 번호: 603-16-48987
            p.text-xl
        p
        | COPYRIGHT C DOCTOR PC CO, LTD. ALL RIGHT RESERVED.