extends layout.pug

block content
    main
        section.py-40(style="background-image: url(images/background_image1.jpg); background-size: cover;")
            h2.container.mx-auto.text-4xl.text-black.font-bold.align-middle History
        section.timeline
            span.year 2020
            .py-10
                ul
                    li.r_detail
                        .card
                            .header
                                .title 강북, 도봉경찰서 PC설치 작업
                                .date 2020.09
                    li.l_detail
                        .card
                            .header
                                .title LH 경기지역본부 콜센터 PC,모니터 설치 작업
                                .date 2020.08
                    li.r_detail
                        .card
                            .header
                                .title 중부, 인천 지방국세청 지역세무서 Window10 설치 작업
                                .date 2020.07
                    li.l_detail
                        .card
                            .header
                                .title 제 21대 국회 개원으로 인한 PC 및 Window10 설치 작업
            span.year 2019
            .py-10
                ul
                    li.r_detail
                        .card
                            .header
                                .title The-K 한국교직원공제회 Window10 설치 작업
                                .date 2019.12
                    li.l_detail
                        .card
                            .header
                                .title 성동구청 PC 설치 작업
                                .date 2019.9