extends layout.pug

block content
    main
        section.py-40(style="background-image: url(images/background_image1.jpg); background-size: cover;")
            h2.container.mx-auto.text-4xl.text-black.font-bold.align-middle History
        section.container.mx-auto.my-24
            article.timeline2
                .year 2020
                ul
                    li 
                        span.timeline_month 9월
                        span.timeline_content 강북, 도봉경찰서 PC 설치
                    li 
                        span.timeline_month 8월
                        span.timeline_content LH 경기지역본부 콜센터 PC 설치
                    li 
                        span.timeline_month 7월
                        span.timeline_content 중부, 인천 지방국세청 세무서 Window10 설치
                    li 
                        span.timeline_month 5월
                        span.timeline_content 제 21대 국회 개원에 따른 PC 및 Window10 설치
            article.timeline2
                .year 2019
                ul
                    li 
                        span.timeline_month 12월
                        span.timeline_content The-K 한국교직원공제회 PC 설치
                    li 
                        span.timeline_month 9월
                        span.timeline_content 성동구청 PC 설치 작업