doctype html
html(lang="ko")
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-120533037-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-180453341-1');

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Paperworks
    link(rel='stylesheet', href='/stylesheets/styles.css')
    script(defer src="/javascripts/main.js")
  body
    include nav.pug
    block content
    include footer.pug
