nav.border-b-2
    .h-24.flex.container.mx-auto.items-center.justify-between.px-4
        h1.text-3xl
            a(href="/") Paperworks
        ul
            li.mr-4.float-right
                a.text-red-400(href="/contact") 상담 및 접수
            li.mr-4.float-right
                a(href="/history") 연혁